@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'LondonBetween';
	src: url('/fonts/LondonBetween.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LondonTwo';
	src: url('/fonts/LondonTwo.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PlayfulBoxes';
	src: url('/fonts/PlayfulBoxes.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Icekingdom';
	src: url('/fonts/Icekingdom.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	height: 100vh;
	background-color: #181818;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
